# This file is written by xdg-user-dirs-update
# If you want to change or add directories, just edit the line you're
# interested in. All local changes will be retained on the next run.
# Format is XDG_xxx_DIR="{{ .chezmoi.homedir }}/yyy", where yyy is a shell-escaped
# homedir-relative path, or XDG_xxx_DIR="/yyy", where /yyy is an
# absolute path. No other format is supported.
# 
XDG_DESKTOP_DIR="{{ .chezmoi.homedir }}/desktop"
XDG_DOWNLOAD_DIR="{{ .chezmoi.homedir }}/downloads"
XDG_TEMPLATES_DIR="{{ .chezmoi.homedir }}/templates"
XDG_PUBLICSHARE_DIR="{{ .chezmoi.homedir }}/public"
XDG_DOCUMENTS_DIR="{{ .chezmoi.homedir }}/documents"
XDG_MUSIC_DIR="{{ .chezmoi.homedir }}/music"
XDG_PICTURES_DIR="{{ .chezmoi.homedir }}/pictures"
XDG_VIDEOS_DIR="{{ .chezmoi.homedir }}/videos"
