# default apps
ibus-daemon &
xsettingsd &
nitrogen --restore &
redshift &
picom &
blueman-tray &
xfce4-power-manager &

# non default
# spotify &
kdocker -q -o -i /usr/share/icons/ePapirus/16x16/apps/spotify.svg spotify &
discord &
slack &
zoom &
teams &
