# default apps
ibus-daemon &
xsettingsd &
nitrogen --restore &
redshift &
picom &
xfce4-power-manager &
unclutter -root &

# non default
# spotify &
kdocker -q -o -i /usr/share/icons/ePapirus/16x16/apps/spotify.svg spotify &
discord &
slack &
zoom &
/usr/bin/teams &
