{{- $virt := `"$(command -v virt-what &>/dev/null || print 1)"` }}
{{- $zprof := env "ZSHRC_PROFILE" }}
{{- $tshell := env "TIMESHELL" }}
#!/usr/bin/env zsh

{{- if .personal }}
# Another way to profile zsh startup
PROFILE_STARTUP=false
if [[ $PROFILE_STARTUP == true ]]; then
    zmodload zsh/datetime
    PS4='+$EPOCHREALTIME %N:%i> '
    logfile=$(mkdir -p $ZDATADIR/logs && mktemp $ZDATADIR/logs/zsh_profile.XXXXXXXX)
    exec 3>&2 2>>$logfile
    setopt XTRACE
fi
{{- end }}

source-safe() { if [ -f "$1" ]; then source "$1"; fi }

{{- if eq $zprof "1" }}
zmodload zsh/zprof && zprof > /dev/null
{{- end }}

#--------------------------------------------------------------#
##          Base Configuration                                ##
#--------------------------------------------------------------#
source "$ZRCDIR/base.zsh"


#--------------------------------------------------------------#
##          Aliases                                           ##
#--------------------------------------------------------------#
source "$ZRCDIR/alias.zsh"


#--------------------------------------------------------------#
##          Options                                           ##
#--------------------------------------------------------------#
source "$ZRCDIR/options.zsh"


#--------------------------------------------------------------#
##          Completion                                        ##
#--------------------------------------------------------------#
source "$ZRCDIR/completion.zsh"

{{ if ne $virt "1" }}
#--------------------------------------------------------------#
##          Prompt Configuration                              ##
#--------------------------------------------------------------#
autoload -U promptinit && promptinit
prompt simple
{{ else }}
source "$ZRCDIR/prompt.zsh"
{{ end }}

{{- if ne $virt "1" }}
#--------------------------------------------------------------#
##          Function                                          ##
#--------------------------------------------------------------#
source "$ZRCDIR/function.zsh"


#--------------------------------------------------------------#
##          Key Bindings                                      ##
#--------------------------------------------------------------#
source "$ZRCDIR/bindkey.zsh"


#--------------------------------------------------------------#
##          Plugin                                            ##
#--------------------------------------------------------------#
source "$ZRCDIR/plugins.zsh"


#--------------------------------------------------------------#
##          Post Execution                                    ##
#--------------------------------------------------------------#
source "$ZRCDIR/post.zsh"
{{- end }}

{{ if .personal }}
if [[ $PROFILE_STARTUP == true ]]; then
    unsetopt XTRACE
    exec 2>&3 3>&-
fi
{{- end }}
