#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

{{- if .personal }}
{{-   if eq .chezmoi.os "darwin" }}
echo "Put some defined system variables here, then run the scripts again"
{{-   else if and (eq .chezmoi.os "linux") (.personal) }}
SERVICES=(docker cronie sshd bluetooth postgresql optimus-manager lightdm acpid)

for services in "${SERVICES[@]}"; do
    sudo systemctl enable $services
done

crontab {{ .chezmoi.sourceDir }}/bootstrap/private_cronfile
{{-   end }}
{{- end }}
