#!/usr/bin/env bash
set -euo pipefail

# Test if $1 is available
isavailable() {
    type "$1" &>/dev/null
}

{{- if and((not `command -v chezmoi`) (eq .chezmoi.os "darwin" )) -}}
CI=1
isavailable chezmoi || brew install chezmoi
{{- else if eq .chezmoi.os "linux" -}}
isavailable chezmoi || sudo pacman -S chezmoi --noconfirm
{{- end -}}
