#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

{{- if .personal }}
{{-   if eq .chezmoi.os "darwin" }}
echo "Put some defined system variables here, then run the scripts again"
{{-   else if eq .chezmoi.os "linux" }}
SERVICES=(docker cronie sshd postgresql optimus-manager lightdm acpid)

for services in "${SERVICES[@]}"; do
    sudo systemctl enable $services 
done

crontab $(chezmoi source-path)/private_cronfile
{{-   end }}
{{- end }}
