pkg/config/.config/spicetify/*
!pkg/config/.config/spicetify/config.ini
.ipython/nbextenstions/
.ipython/extensions/
.uuid
google-cloud-sdk
backups/
bundle/
plugins/
cache/
swaps/
undo/
pkg/python/.ipython/profile_default/db
pkg/python/.ipython/profile_default/*.py
pkg/python/.ipython/profile_default/*.sqlite
pkg/python/.ipython/profile_default/startup/*
!pkg/python/.ipython/profile_default/startup/start.py
*.hi
*.errors
*.o
xmonad-x86_64-linux
Code
