pkg/tmux/.tmux/resurrect/*
**/Backup
**/Extracted
.ipython/nbextenstions/
.ipython/extensions/
vscode/
.uuid
google-cloud-sdk
autoload/
backups/
bundle/
cache/
plugged/
swaps/
undo/
pkg/python/.ipython/profile_default/db
pkg/python/.ipython/profile_default/*.py
pkg/python/.ipython/profile_default/*.sqlite
pkg/python/.ipython/profile_default/startup/*
!pkg/python/.ipython/profile_default/startup/start.py

