[submodule "sys/nnn"]
	path = sys/nnn
	url = https://github.com/jarun/nnn.git
[submodule "pkg/config/.config/awesome/tyrannical"]
	path = pkg/config/.config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical.git
