.ipython/nbextenstions/
home/.ssh/config
.ipython/extensions/
.uuid
google-cloud-sdk
backups/
bundle/
plugins/
cache/
swaps/
undo/
python/.ipython/profile_default/db
python/.ipython/profile_default/*.py
python/.ipython/profile_default/*.sqlite
python/.ipython/profile_default/startup/*
!python/.ipython/profile_default/startup/start.py
*.hi
*.errors
*.o
xmonad-x86_64-linux
Code
crls.d
private*
pubring*
trust*
streams
home/.config/coc/*
*.zwc
*.old
scripts/lightdm
