#!/usr/bin/env sh
{{- if .personal }}
{{-   if (eq .chezmoi.os "linux") }}

# Prefer CA English and use UTF-8.
export LANGUAGE='en';
export LANG='en_US.UTF-8'
export HOST='{{ .chezmoi.fullHostname }}';
export LC_ALL=$LANG
export LC_MESSAGES=$LANG
export LANG=$LANG

# qt fix
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
export QT_AUTO_SCREEN_SCALE_FACTOR=1
export QT_QPA_PLATFORMTHEME="qt5ct"

# GTK3 apps try to contact org.a11y.Bus. Disable that.
export NO_AT_BRIDGE=1

{{-   end }}
{{- end }}
