#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# vim
alias v="$EDITOR $@"
alias av="$EDITOR -p $@"
# chezmoi
alias e="$CHEZMOI_BIN edit --apply $@"
alias o="xdg-open $@"
alias dotfiles="cd $CHEZMOI_DIR"
alias awesomedir="cd $CHEZMOI_DIR/private_dot_config/exact_awesome"

# mcmaster vpn
alias macvpn="/opt/anyconnect-linux64-4.9.04043/vpn/vpn connect studentvpn.mcmaster.ca"
alias macdc="/opt/anyconnect-linux64-4.9.04043/vpn/vpn disconnect"
alias compeng="$HOME/documents/cs/mcmaster"

# only when connecting k6 via cables
alias k6="echo 0 | sudo tee /sys/module/hid_apple/parameters/fnmode"
# remove bytecode
alias pyclean="find . -type f -name \"*.py[co]\" -delete -or -type d -name \"__pycache__\" -delete"

# some shortcut
alias bentodir="$XDG_CONFIG_DOCUMENTS/cs/BentoML"
alias bento="bentoml $@"
alias cs="$XDG_CONFIG_DOCUMENTS/cs"
# odoo
alias odoo="$XDG_CONFIG_DOCUMENTS/cs/odoo/odoo-bin $@"

# Shortcuts
alias checkint="watch -n 1 ping -c 1 google.com"
alias net="ping google.com | grep -E --only-match --color=never '[0-9\.]+ ms'"
# git
alias g="git"

{{- if `command -v nnn` }}
# nnn intensifies
alias ncp="cat ${NNN_SEL:-${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.selection} | tr '\0' '\n'"
alias np="nnn-preview"
alias N="sudo -E nnn -dDH"
alias ls="n -dDeUHatT"
{{- end }}

alias dockerprune="docker system prune -a -f"
alias kubesecret="kubectl get secret regcred --output=yaml"

alias ag="ag --color --color-line-number '0;35' --color-match '46;30' --color-path '4;36'"

# List all files colorized in long format
alias la="\ls ${LS_OPTS} ${colorflag}"

# Enable aliases to be sudo’ed
alias sudo='nocorrect sudo'

# Get week number
alias week='date +%V'

# IP addresses
alias ip4='dig -4 TXT +short o-o.myaddr.l.google.com @ns1.google.com'
alias ip6='dig TXT +short o-o.myaddr.l.google.com @ns1.google.com'
alias dlisten='ss -lntu | grep $1'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "${method}"="lwp-request -m '${method}'"
done

# battery
alias bat='upower -i /org/freedesktop/UPower/devices/battery_BAT1| grep -E "state|to\ full|percentage"'

#Lock the screen (when going AFK)
{{- if eq .chezmoi.os "darwin" }}
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
{{- else if and (eq .chezmoi.os "linux") (.personal) }}
alias afk="xsecurelock"
alias iwctl="sudo wifi-menu"
{{- end }}

# Reload the shell (i.e. invoke as a login shell (-l))
alias reload="exec -l ${SHELL}"

# allows ca to dry-run only
alias dca="${CHEZMOI_BIN} apply ${CHEZMOI_OPTS_DRY}"
alias ca="source $HOME/.localrc && ${CHEZMOI_BIN} apply ${CHEZMOI_OPTS}"
alias vconf="${CHEZMOI_BIN} edit $HOME/.vim/vimrc"
{{- if and (eq .chezmoi.os "linux") (.personal) }}
alias aconf="$VISUAL -p $CHEZMOI_DIR/private_dot_config/exact_awesome/*.lua"
alias awet="awmtt start -C $XDG_CONFIG_HOME/awesome/rc.lua.test"
{{- end }}
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Safe ops. Ask the user before doing anything destructive.
alias rmi="${aliases[rm]:-rm} -i"
alias mvi="${aliases[mv]:-mv} -i"
alias cpi="${aliases[cp]:-cp} -i"
alias lni="${aliases[ln]:-ln} -i"

# File Download
if (( $+commands[curl] )); then
    alias get='curl --continue-at - --location --progress-bar --remote-name --remote-time'
elif (( $+commands[wget] )); then
    alias get='wget --continue --progress=bar --timestamping'
fi
