[settings]
debug = false
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
api_key={{ (bitwarden "item" "waka_api_key").login.password }}
# vim: set ft=cfg ts=4 sw=4 tw=0 et :
