#!/bin/bash
#
# ~/.xinitrc
#
# Executed by startx (run your window manager from here)

{{- if .personal }}
{{-   if (and (eq .chezmoi.os "linux") (eq .hostname "0x6161726E70")) }}

userresources={{ .chezmoi.homedir }}/.config/X11/Xresources
usermodmap={{ .chezmoi.homedir }}/.config/X11/Xmodmap

if [ -f "$userresources" ]; then
    xrdb -merge "$userresources"
fi

if [ -f "$usermodmap" ]; then
    xmodmap "$usermodmap"
fi

# start some nice programs

if [ -d /etc/X11/xinit/xinitrc.d ] ; then
    for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
    [ -x "$f" ] && . "$f"
    done
    unset f
fi

[ -f /etc/xprofile ] && . /etc/xprofile
[ -f ~/.xprofile ] && . ~/.xprofile

{{-   end }}
{{- end }}
