#!/usr/bin/env zsh
{{- if .personal }}
# Another way to profile zsh startup
PROFILE_STARTUP=false
if [[ $PROFILE_STARTUP == true ]]; then
	zmodload zsh/datetime
	PS4='+$EPOCHREALTIME %N:%i> '
	logfile=$(mkdir -p $ZDATADIR/logs && mktemp $ZDATADIR/logs/zsh_profile.XXXXXXXX)
	exec 3>&2 2>>$logfile
	setopt XTRACE
fi

source-safe() { if [ -f "$1" ]; then source "$1"; fi }

if [[ "$ZSHRC_PROFILE" != "" ]]; then
	zmodload zsh/zprof && zprof > /dev/null
fi

if  [[ "$ZRCDIR" == "" ]]; then
	source $HOME/.zprofile
fi
{{- else if .transient }}
. $HOME/.local/bin/ssh-add
{{- end }}

#--------------------------------------------------------------#
##          Base Configuration                                ##
#--------------------------------------------------------------#
source "$ZRCDIR/base.zsh"


#--------------------------------------------------------------#
##          Aliases                                           ##
#--------------------------------------------------------------#
source "$ZRCDIR/alias.zsh"


#--------------------------------------------------------------#
##          Options                                           ##
#--------------------------------------------------------------#
source "$ZRCDIR/options.zsh"


#--------------------------------------------------------------#
##          Completion                                        ##
#--------------------------------------------------------------#
source "$ZRCDIR/completion.zsh"


#--------------------------------------------------------------#
##          Key Bindings                                      ##
#--------------------------------------------------------------#
source "$ZRCDIR/bindkey.zsh"


{{ if not (lookPath "virt-what") }}
#--------------------------------------------------------------#
##          Prompt Configuration                              ##
#--------------------------------------------------------------#
if [[ "$ZSHRC_PROFILE" == "" ]]; then
	if [[ -z "$TIMESHELL" ]]; then
		# clear && . $XDG_BIN_HOME/ghosts
		autoload -Uz promptinit && promptinit
		prompt simple
	fi
fi
# functions
source "$ZRCDIR/function.zsh"
# plugins
source "$ZRCDIR/plugins.zsh"
# post
source "$ZRCDIR/post.zsh"
{{- else }}
autoload -Uz promptinit && promptinit
prompt simple
{{- end }}

{{ if .personal }}
if [[ $PROFILE_STARTUP == true ]]; then
    unsetopt XTRACE
    exec 2>&3 3>&-
fi
{{- end }}
# vim: set ft=zsh.gohtmltmpl ts=2 sw=2 tw=0 noet :
