#!/usr/bin/env zsh
# Another way to profile zsh startup
{{- if .personal }}
PROFILE_STARTUP=false
if [[ $PROFILE_STARTUP == true ]]; then
	zmodload zsh/datetime
	PS4='+$EPOCHREALTIME %N:%i> '
	logfile=$(mkdir -p $ZDATADIR/logs && mktemp $ZDATADIR/logs/zsh_profile.XXXXXXXX)
	exec 3>&2 2>>$logfile
	setopt XTRACE
fi

source-safe() { if [ -f "$1" ]; then source "$1"; fi }

if [[ "$ZSHRC_PROFILE" != "" ]]; then
	zmodload zsh/zprof && zprof > /dev/null
fi

{{- end }}

ZRCDIR=$XDG_CONFIG_HOME/zsh/rc

#--------------------------------------------------------------#
##          Base Configuration                                ##
#--------------------------------------------------------------#
source "$ZRCDIR/base.zsh"


#--------------------------------------------------------------#
##          Aliases                                           ##
#--------------------------------------------------------------#
source "$ZRCDIR/alias.zsh"


#--------------------------------------------------------------#
##          Completion                                        ##
#--------------------------------------------------------------#
source "$ZRCDIR/completion.zsh"


#--------------------------------------------------------------#
##          Key Bindings                                      ##
#--------------------------------------------------------------#
source "$ZRCDIR/bindkey.zsh"


#--------------------------------------------------------------#
##          Prompt Configuration                              ##
#--------------------------------------------------------------#
# functions
source "$ZRCDIR/function.zsh"
# plugins
source "$ZRCDIR/plugins.zsh"
# post
if ! builtin command -v zinit > /dev/null 2>&1; then
	source "$ZRCDIR/post.zsh"
fi

{{- if .personal }}
if [[ $PROFILE_STARTUP == true ]]; then
    unsetopt XTRACE
    exec 2>&3 3>&-
fi
{{- end }}
# vim: set ft=zsh.gohtmltmpl ts=2 sw=2 tw=0 noet :
