{{- if .personal -}}
#!/usr/bin/env bash

set -euo pipefail

{{  if eq .chezmoi.os "darwin" -}}
type brew &>/dev/null || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh
{{ end -}}
{{ end -}}
