#!/usr/bin/env bash

set -euo pipefail

# shellcheck disable=SC1009,SC1054,SC1073,SC1056,SC1072,SC1083
{{- if .personal }}
{{- if eq .chezmoi.os "darwin" }}
type brew &>/dev/null || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh
{{ end -}}
{{ end -}}
