#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

# git config that we can all agree about
git config --global include.path ${XDG_CONFIG_HOME:-$HOME/.config}/git/gitconfig
git config --global core.excludesFile ${XDG_CONFIG_HOME:-$HOME/.config}/git/gitignore

# shellcheck disable=SC1009,SC1054,SC1073,SC1056,SC1072,SC1083
{{- if .personal }}
{{- if not (eq .chezmoi.os "darwin") }}
# bitwarden cli yarn and typescript
if builtin command -v nvm &>/dev/null; then
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
    nvm install 14.16.1
    nvim alias default 14.16.1
    npm install -g yarn

    # install packages
    packages=(diagnostic-languageserver typescript ts-node react @bitwarden/cli)
    yarn global add ${packages[@]}
fi

# nnn plugins install
if  ! [ -f $XDG_CONFIG_HOME/nnn/plugins/getplugs ]; then
    curl -Ls https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs | sh;
    {{- if eq .chezmoi.os "linux" }}
    git clone https://github.com/sebastiencs/icons-in-terminal.git && cd icons-in-terminal && ./install.sh
    {{- end }}
fi

{{- if not (lookPath "rustc") }}
# install rustup 
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
{{- end }}

{{- if not (lookPath "poetry") }}
# install poetry
curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
{{- end }}

{{- if eq .chezmoi.os "linux" }}
# branch main
if ! builtin command -v docker-compose &>/dev/null; then
    sudo curl -L "https://github.com/docker/compose/releases/download/1.28.5/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose && sudo chmod +x /usr/local/bin/docker-compose
fi
{{- else }}
if builtin command -v brew &>/dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{- end }}
{{- end }}
{{- end }}
