#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

{{- if .personal }}
{{-   if and (eq .hostname "archlinux") (.personal) }}
# for debian we disable
SERVICES=(docker sshd bluetooth lightdm acpid cronie acpid postgresql optimus-manager)

for services in "${SERVICES[@]}"; do
    sudo systemctl enable $services
done

crontab {{ .chezmoi.sourceDir }}/bootstrap/configs/private_cronfile
{{-   end }}
{{- end }}
