#!/usr/bin/env bash
set -euo pipefail

# Test if $1 is available
isavailable() {
    type "$1" &>/dev/null
}

{{- if eq .chezmoi.os "darwin" }}
isavailable brew || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh
{{- else if eq .chezmoi.os "linux" }}
if ! command -v yay >/dev/null 2>&1; then
    echo "Install yay"
    sudo $PKGMN $PKGI ${PKGOPT[@]} base base-devel wget
    tmpdir="$(command mktemp -d)"
    command cd "${tmpdir}" || return 1
    dl_url="$(curl -sfLS 'https://api.github.com/repos/Jguer/yay/releases/latest' | grep 'browser_download_url' | tail -1 | cut -d '"' -f 4)"
    command wget "${dl_url}"
    command tar xzvf yay_*_x86_64.tar.gz
    command cd yay_*_x86_64 || return 1
    ./yay $PKGI ${PKGOPT[@]} yay-bin
    rm -rf "${tmpdir}"
fi
{{- else }}
echo "Unkown OS. exiting..."
exit 1
{{- end }}
