jupyter
jupyter_contrib_nbextensions
seaborn
prometheus-client
pymongo
numpy
sklearn
pandas
scikit-image
torch
torchvision
opencv-contrib-python
lmdb
six
setuptools
yapf
black
flask
imgaug
onnx
bentoml
