{{- if .personal -}}
{{ range (gitHubKeys "aarnphm") -}}
{{   .Key }}
{{ end -}}
{{- if eq .hostname "archlinux" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOQD2A14OVFfbg2fLimZZBg2nRnVxtRJBwConOC5HXkC longvt@mbpro16
ssh-rsa AAAAB4NzaC1yc2EAAAADAQABAAACAQC18nVmx+S6EmZtclSrsl1OP+c6G1d+U8HVvoAhro9lr33yshNaQbmKiyh6BWRqj5q+M8WLzAev9y8M1XwTBYNoOZAhxJMN9pU5thaNkQQcO4GFu64hZh+8wAOK1+4d6yLutgb7kA4B59BcycaiffBFeCnBmvIG5yvEV5eQY3M7GgoJpATiA1+TR5pFrgluKaqYrjvvx87VGvzmK9Do5pP76ifCSnlR4WEtQFMVkWHCjqjxQDm0uhANMq1A7lg+NyihEvDNzeTPEKj/gOZMFMrlUVSGcS64sAg9u6UEm5XecAm4dT63GnJ89RMSKqxDQXvOBIsr3cwP7ADIP59equylv9FBx1/9ES2Vlho7xtqtl6vbvSZkLFETMjZITqgsBYdlGUbKOOVUlbuIOnSjPTmedb/i5T8/WGZgFFfCmKlqTqCD68ZsnSUDQ5GgYGMXh7AgoH2eUkw9uZTFcu+ReYUJ4WLRd3M8lM1PSsu5HjknolzATmHiNGGLZa5T/9nmbhtoFn8kEm5VvmhevzCwcHaNW+JPt/mq3L+G1KcUsqtjTeFEmwooSzCPIw+KZl1Z01j454zXO3CSObswFQug4/A+7auVT39DqwF7Lj9RFH6ROGWesSBInzM3nm3VQj9BAxHEg2iLxRoU/IV03QrmE7mtfGSoGmxCSzd9n/knK4SEiw== bitbucket:aaronpham0103@gmail.com
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC1K5YZhmzafhC7uaSRASf3BLZlzg6fzWU6iw1DmZd4ToTCzCLedcAQmti9RKORxHpAkJSBNaVNKDC6HTSxDkHBrPDr4/8T2TeXLtmrkqTycPUEmDoxDfuIGDlYrMHwaIm+zx8mfna4ojykV0FDQzhRl8WtKYXYl7HdZHu9bVQN+GAkUBDG4C5iQvwpur+FdzVy2HypcLIyRZ6eKI8Oa2STQaMPtqv2mZ060gg3O5UEPF3qu8DBBEs7gz/qnFx7XcLxsf2qNuBoCoDnFsNM+3XNX9tI1EqG3doH01x1hsSntDUKFhC+3pLk7ZG84HnNTMvhB9kUBogs1GpQpg37gwA5mVXYySUygqxCM3WXZy1P0jLJMnU4VESCXxTrRXhpVwQ0IEFpDEocCNKQauR4KYDI75doCtLrqS8/KYrVXrfvniX8adc5Osd53RCNfHW/OB0wdeo3PovUI6CIgyAMexaXXVMO0bh9uDVM0SgfUXMDNhkZel4FHEicC9vt64pjO+ItEHkmaW845SOGV+1/5C3FkxgQUCtsPOzbooXxYx2WSniJ8Jm6db50Qt9ycaKxppA7nlU1V5nri3ezmXFTW+WyJNjb9pKvcNnycapPamvxZ2SQYgk1r1Ed1C8tdsOoloc1Q9LCbryKv7/iqDUCJoOK4iaWADbDGa7F5SJoUuDcPw== aarnphm@APPL-AIR12.local
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIqv6jE4PT94Hy7UIUjs+tdkbfLVDQqM+H3kQfvjAEJJMtOOueSrCwzfBBNCwSI3+iKv+8H85LvUUduoweFfVNkzCE0lKbzRtfny1dK4laelWhXU5zfISxIbWwBykT50uS99v5jYQAZALJnFKn36wZ8OYN1uIEaNztzsUiswqz2RLM789cB/IXuxLbgrJ8gijO98YLbaBFH/SSwtOBCYo6N6D8h9EER/rxoh3LTibQsa6P+suzxFP+wGgDbY3qhNhXeTLxFsCKhvCpr5fKLG4A5m/820LxndOe+9f+mtH3TJRrWZCYXUNlToIDBLluBbtdzdlbs6Xo3rU0Hgwn3685 mobile@APPL-IPADPRO11
{{- end -}}
{{- end -}}
