{{- if .personal -}}
Host *
{{- if eq .chezmoi.os "darwin" }}
    IgnoreUnknown UseKeychain
    UseKeychain yes
    AddKeysToAgent yes
{{- end }}
{{- if stat (joinPath .chezmoi.homeDir ".ssh/id_rsa" )}}
    IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_rsa
{{- end }}
{{- if stat (joinPath .chezmoi.homeDir ".ssh/id_ed25519" )}}
    IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_ed25519
{{- end }}
{{ if eq .hostname "APPL-AIR12" }}
Host GGBBYAERO15W8
    HostName 116.111.95.223
    Port 34689
    User {{ .chezmoi.username }}
    IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_rsa

Host HOME
    HostName 192.168.1.117
    Port 34689
    User {{ .chezmoi.username }}
    IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_rsa
{{- end }}
{{- end }}
