{{- if eq .chezmoi.os "darwin" }}
{{-   (bitwarden "item" "PUB_APPL_AIR12_SSH_GIT").notes }}
{{- else if eq .chezmoi.os "linux" -}}
{{-   (bitwarden "item" "PUB_GGBBYAERO15W8_SSH_GIT").notes }}
{{-   (bitwarden "item" "PUB_APPL_AIR12_SSH").notes }}
{{- end -}}
