{{- if .personal }}
{{-   if (and (eq .chezmoi.os "darwin") (eq .hostname "APPL-AIR12")) }}
{{-     (bitwarden "item" "PUB_APPL_AIR12_SSH_GIT").notes }}
{{-   else if (and (eq .chezmoi.os "linux") (eq .hostname "0x6161726E70")) -}}
{{-     ( bitwarden "item" "PUB_GGBBYAERO15W8_SSH_GIT" ).notes }}
{{-     ( bitwarden "item" "PUB_APPL_AIR12_SSH_NOT_GIT" ).notes }}
{{-   end -}}
{{- end }}
