{{- if .personal -}}
{{-   if eq .hostname "0x6161726E70" }}
{{-     (bitwarden "item" "PRI_GGBBYAERO15W8_SSH_GIT").notes -}}
{{-   else if eq .hostname "APPL-AIR12" }}
{{-     (bitwarden "item" "PRI_APPL_AIR12_SSH_GIT").notes -}}
{{-   end -}}
{{- end -}}
