{{- if .personal }}
{{-   if (and (eq .chezmoi.os "darwin") (eq .hostname "APPL-AIR12")) }}
{{-     (bitwarden "item" "pub_appl_air12_git").notes }}
{{-   else if (and (eq .chezmoi.os "linux") (eq .hostname "archlinux")) -}}
{{     ( bitwarden "item" "pub_ggbby_git" ).notes }}
{{     ( bitwarden "item" "pub_appl_air12_ssh" ).notes }}
{{     ( bitwarden "item" "pub_juicessh" ).notes }}
{{     ( bitwarden "item" "pub_longvt_mbpro16" ).notes }}
{{     ( bitwarden "item" "pub_ggbbyaero15w8_bitbucket_rsa" ).notes }}
{{-   end }}
{{- end }}
