{{- if .personal -}}
{{- if eq .hostname "archlinux" }}
{{- (bitwarden "item" "priv_ggbby_git").notes -}}
{{- else if eq .hostname "APPL-AIR12" }}
{{- (bitwarden "item" "priv_appl_air12_git").notes -}}
{{- else if eq .hostname "mbp16" }}
{{- (bitwarden "item" "priv_appl_mbp16_git").notes -}}
{{- end -}}
{{- end -}}
