{{- if eq .chezmoi.os "darwin" }}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJAsbWKN/y3e1APgUdLcvqbyToesskwwHiGm94vhK/Tt aaronpham0103@gmail.com
{{- else if eq .chezmoi.os "linux"}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICqD0ebmZIpLqwLEwFmsLnLpMKTaPI5gRMf+kTNqDMt4 aaronpham0103@gmail.com
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC1K5YZhmzafhC7uaSRASf3BLZlzg6fzWU6iw1DmZd4ToTCzCLedcAQmti9RKORxHpAkJSBNaVNKDC6HTSxDkHBrPDr4/8T2TeXLtmrkqTycPUEmDoxDfuIGDlYrMHwaIm+zx8mfna4ojykV0FDQzhRl8WtKYXYl7HdZHu9bVQN+GAkUBDG4C5iQvwpur+FdzVy2HypcLIyRZ6eKI8Oa2STQaMPtqv2mZ060gg3O5UEPF3qu8DBBEs7gz/qnFx7XcLxsf2qNuBoCoDnFsNM+3XNX9tI1EqG3doH01x1hsSntDUKFhC+3pLk7ZG84HnNTMvhB9kUBogs1GpQpg37gwA5mVXYySUygqxCM3WXZy1P0jLJMnU4VESCXxTrRXhpVwQ0IEFpDEocCNKQauR4KYDI75doCtLrqS8/KYrVXrfvniX8adc5Osd53RCNfHW/OB0wdeo3PovUI6CIgyAMexaXXVMO0bh9uDVM0SgfUXMDNhkZel4FHEicC9vt64pjO+ItEHkmaW845SOGV+1/5C3FkxgQUCtsPOzbooXxYx2WSniJ8Jm6db50Qt9ycaKxppA7nlU1V5nri3ezmXFTW+WyJNjb9pKvcNnycapPamvxZ2SQYgk1r1Ed1C8tdsOoloc1Q9LCbryKv7/iqDUCJoOK4iaWADbDGa7F5SJoUuDcPw== aarnphm@APPL-AIR12.local
{{- end}}
