priority -50

extends sh

priority -49

snippet #! "#!/usr/bin/env zsh" b
#!/usr/bin/env zsh
$0
endsnippet

snippet div "division" bA
#==============================================================#
##          $1                                                ##
#==============================================================#
endsnippet

# vim:ft=snippets:
