function exists() { builtin command -v $1 >/dev/null 2>&1 }

function source-safe() { if [ -f "$1" ]; then source "$1"; fi }


#==============================================================#
## aws completion
#==============================================================#
if exists aws_zsh_completer.sh; then
  source aws_zsh_completer.sh
fi


#==============================================================#
## terraform completion
#==============================================================#
if exists terraform; then
  autoload -U +X bashcompinit && bashcompinit
  complete -o nospace -C /usr/bin/terraform terraform
fi


#==============================================================#
## cargo completion
#==============================================================#
if exists cargo; then
  {{- if eq .chezmoi.os "darwin" }}
  d=$(readlink -n $HOME/.rustup/toolchains/*/share/zsh/site-functions)
  {{- else }}
  d=$(readlink -f $HOME/.rustup/toolchains/*/share/zsh/site-functions)
  {{- end }}
  if [ -d "$d" ]; then
    fpath=($d $fpath)
  fi
fi


#==============================================================#
## pip completion
#==============================================================#
if exists pip; then
  eval "$(pip completion --zsh)"
fi


#==============================================================#
## npm completion
#==============================================================#
_npm_path_hook() {
if [[ -n $NPM_DIR ]]; then
  # remove old dir from path
  path=(${path:#$NPM_DIR})
  unset NPM_DIR
fi

if [[ -d "${XDG_CONFIG_HOME}/npm/bin" ]]; then
  NPM_DIR="${XDG_CONFIG_HOME}/npm/bin"
  path=($NPM_DIR $path)
fi
}
[[ -z $chpwd_functions ]] && chpwd_functions=()
chpwd_functions=($chpwd_functions _npm_path_hook)


#==============================================================#
## fasd
#==============================================================#
if exists fasd; then
  eval "$(fasd --init auto)"
  alias d='fasd -d'
  alias f='fasd -f'
  alias vf='f -e vim'
fi
# vim: set ft=zsh.gohtmltmpl ts=2 sw=2 tw=0 et :
