#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# hmm if there is only one way to use nvim
if command -v nvim 1>/dev/null 2>&1;then
    alias vim="/usr/bin/nvim"
    alias vi="/usr/bin/nvim"
else
    alias vim="/usr/bin/vim"
    alias vi="/usr/bin/vi"
fi
alias allvim="$EDITOR -p *"

# curl shortcut
alias header='curl -I'
# shortcut for curl with authentication header : $0->Methods, $1->authkey, $2->addr
alias curlauth="curl -v -H 'Authorization: $authkey' $1"
# mcmaster vpn
alias macvpn="/opt/anyconnect-linux64-4.6.04056/vpn/vpn connect sslvpn.mcmaster.ca"
# added aliases for time shell run
alias timeshell="time $(which $SHELL) -i -c exit"
# only when connecting k6 via cables
alias k6="echo 0 | sudo tee /sys/module/hid_apple/parameters/fnmode"
# swag like crazy
alias swagger="docker run --rm -it -e GOPATH=$HOME/go:/go -v $HOME:$HOME -w $(pwd) quay.io/goswagger/swagger"
# remove bytecode
alias pycclean="find . -type f -name \"*.py[co]\" -delete -or -type d -name \"__pycache__\" -delete"

# Shortcuts
alias dl="cd ~/Downloads"
alias g="git"
alias 8080="sudo lsof -iTCP:8080 -sTCP:LISTEN"

alias ag="ag --color --color-line-number '0;35' --color-match '46;30' --color-path '4;36'"

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF --color"

# Enable aliases to be sudo’ed
alias sudo='nocorrect sudo'

# Get week number
alias week='date +%V'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

#Lock the screen (when going AFK)
if [[ "$OSTYPE" == "darwin" ]]; then
	alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
else 
    alias afk="gnome-screensaver-command -l"
fi
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"
alias rrload="source $HOME/.zshrc"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Safe ops. Ask the user before doing anything destructive.
alias rmi="${aliases[rm]:-rm} -i"
alias mvi="${aliases[mv]:-mv} -i"
alias cpi="${aliases[cp]:-cp} -i"
alias lni="${aliases[ln]:-ln} -i"

# File Download
if (( $+commands[curl] )); then
  alias get='curl --continue-at - --location --progress-bar --remote-name --remote-time'
elif (( $+commands[wget] )); then
  alias get='wget --continue --progress=bar --timestamping'
fi
