# default apps
# xsettingsd &
nitrogen --restore &
redshift &
picom &

# non default
# blueman-tray &
# conky --daemonize --pause=5 &
# /usr/bin/skypeforlinux &
# /usr/bin/teams &
# kdocker -q -i /usr/share/icons/ePapirus/64x64/apps/spotify.svg spotify &

