"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" vim-plug
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" use vim-plug becauseof its minimalistic
"¯\_(ツ)_/¯
if empty(glob('~/.config/vim/autoload/plug.vim'))
    silent call system('curl -fLo ~/.vim/autoload/plug.vim https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim')
    execute 'source  ~/.config/vim/autoload/plug.vim'
    augroup plugsetup
        au!
        autocmd VimEnter * PlugInstall
    augroup end
endif

" define vim-plug here
call plug#begin('~/.config/vim/plugins')

Plug 'danilo-augusto/vim-afterglow'

{{- if not .transient }}
" Color scheme
Plug 'sainnhe/sonokai'
Plug 'ayu-theme/ayu-vim'
Plug 'tlhr/anderson.vim'
Plug 'romainl/Apprentice'
Plug 'ntk148v/vim-horizon'
Plug 'joshdick/onedark.vim'
Plug 'AlessandroYorba/Alduin'
Plug 'rakr/vim-two-firewatch'

" fzf with rg
Plug 'rking/ag.vim'
Plug 'junegunn/fzf.vim'
Plug 'Rykka/InstantRst'
Plug 'SirVer/ultisnips'
Plug 'jupyter-vim/jupyter-vim'
Plug 'lambdalisue/suda.vim'
Plug 'airblade/vim-gitgutter'
Plug 'thaerkh/vim-indentguides'

" vscode like language server
Plug 'neoclide/coc.nvim', {'branch': 'release'}
Plug 'fatih/vim-go', { 'do': ':GoUpdateBinaries' }
Plug 'iamcco/markdown-preview.nvim', { 'do': 'cd app && yarn install'  }

" language packs
Plug 'sheerun/vim-polyglot'
" language syntax
Plug 'lervag/vimtex'
Plug 'mrk21/yaml-vim'
Plug 'jparise/vim-graphql'
Plug 'wakatime/vim-wakatime'
Plug 'tmux-plugins/vim-tmux'
Plug 'zinit-zsh/zinit-vim-syntax'
Plug 'plasticboy/vim-markdown'
Plug 'ekalinin/Dockerfile.vim'
Plug 'pangloss/vim-javascript'
Plug 'maxmellon/vim-jsx-pretty'
Plug 'vim-python/python-syntax'
Plug 'peitalin/vim-jsx-typescript'
Plug 'leafgarland/typescript-vim'
Plug 'andrewstuart/vim-kubernetes'
Plug 'christoomey/vim-tmux-navigator'
Plug 'styled-components/vim-styled-components'

" UI related
Plug 'preservim/tagbar'
Plug 'godlygeek/tabular'
Plug 'preservim/nerdtree'
Plug 'jiangmiao/auto-pairs'
{{- end }}

" tpope plugins =)
Plug 'tpope/vim-sleuth'
Plug 'tpope/vim-apathy'
Plug 'tpope/vim-fugitive'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-obsession'
Plug 'tpope/vim-commentary'

call plug#end()
" vim: set ft=vim.gohtmltmpl ts=2 sw=2 tw=0 et :
