{{- if .personal -}}
{{-   if (and (eq .chezmoi.os "linux") (eq .hostname "archlinux")) -}}
#include "/home/aarnphm/.config/colorschemes/xrdb/Afterglow.xrdb"
Xcursor.size: 12

*.foreground: Foreground_Color
*.background: Background_Color
*.color0:     Ansi_0_Color
*.color8:     Ansi_8_Color
*.color1:     Ansi_1_Color
*.color9:     Ansi_9_Color
*.color2:     Ansi_2_Color
*.color10:    Ansi_10_Color
*.color3:     Ansi_3_Color
*.color11:    Ansi_11_Color
*.color4:     Ansi_4_Color
*.color12:    Ansi_12_Color
*.color5:     Ansi_5_Color
*.color13:    Ansi_13_Color
*.color6:     Ansi_6_Color
*.color14:    Ansi_14_Color
*.color7:     Ansi_7_Color
*.color15:    Ansi_15_Color

! Apprentice Color Scheme
! *.foreground: #BCBCBC
! *.background: #262626
! *.color0:     #1C1C1C
! *.color8:     #444444
! *.color1:     #AF5F5F
! *.color9:     #FF8700
! *.color2:     #5F875F
! *.color10:    #87AF87
! *.color3:     #87875F
! *.color11:    #FFFFAF
! *.color4:     #5F87AF
! *.color12:    #8FAFD7
! *.color5:     #5F5F87
! *.color13:    #8787AF
! *.color6:     #5F8787
! *.color14:    #5FAFAF
! *.color7:     #6C6C6C
! *.color15:    #FFFFFF

{{-   end -}}
{{- end -}}
