#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias vi="/usr/bin/vi"
alias vim="/usr/bin/vim"

# added aliases for time shell run
alias timeshell="time $(which $SHELL) -i -c exit"
alias dockerclean="sh $HOME/docker_clean.sh"
# v-h monitor setup
alias confmonitor="xrandr --output $(xrandr |grep DP-0| cut -d " " -f1) --rotate right"
# only when connecting k6 via cables
alias k6="echo 0 | sudo tee /sys/module/hid_apple/parameters/fnmode"

alias swagger="docker run --rm -it -e GOPATH=$HOME/go:/go -v $HOME:$HOME -w $(pwd) quay.io/goswagger/swagger"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias g="git"
alias 8080="sudo lsof -iTCP:8080 -sTCP:LISTEN"

alias ag="ag --color --color-line-number '0;35' --color-match '46;30' --color-path '4;36'"

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF --color"

# Enable aliases to be sudo’ed
alias sudo='nocorrect sudo'

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
# alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# remove annoying yes confirmation
alias install='install -y -qq'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

#Lock the screen (when going AFK)
if [[ "$OSTYPE" == "darwin" ]]; then
	alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
fi
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
