#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
# cd to docs on wsl
alias cdocs="cd /mnt/d/documents"

# install faster
alias install="apt-get install -y -qq"

# added aliases for time shell run
alias timeshell="time $(which $SHELL) -i -c exit"
alias dockerclean="sh $HOME/docker_clean.sh"
alias confmonitor="xrandr --output $(xrandr |grep DP-0| cut -d " " -f1) --rotate right"
alias k6="echo 0 | sudo tee /sys/module/hid_apple/parameters/fnmode"
# don't use vi, if has nvim else use vim (color doesn't work as well)
# alias vi="vim", added vmu for multiple file open at one
if command -v nvim &>/dev/null; then
	alias vi="nvim"
	alias vmu="nvim -p"
else
	alias vi="vim"
	alias vmu="vim -p"
fi

# alias python with python3
# if [[ "$OSTYPE"=="linux-gnu"* ]]; then
# 	alias python=python3
# 	alias pip=pip3
# fi

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias g="git"
alias 8080="sudo lsof -iTCP:8080 -sTCP:LISTEN"
# https://stackoverflow.com/a/44247040/8643197
# git config --global --add url."git@github.com:".insteadOf "https://github.com/"
alias svim="sudo -E vim"
alias snvim="sudo -E nvim"

alias ag="ag --color --color-line-number '0;35' --color-match '46;30' --color-path '4;36'"

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF --color"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls --color"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='nocorrect sudo'

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
# alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

wsl=$(uname -r | cut -c10-18)
# Lock the screen (when going AFK)
if [[ "$OSTYPE" == "darwin" ]]; then
	alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
elif [[ "$OSTYPE" = "linux-gnu"* ]]; then
	if [ ! $wsl = "microsoft" ]; then
		alias afk="eval '$(grep '^Exec' /usr/share/applications/screensavers/gluqlo.desktop | tail -1 | sed 's/^Exec=//' | sed 's/%.//' | sed 's/^"//g' | sed 's/" *$//g') &'"
	fi
fi
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
