#!/usr/bin/env zsh

{{- if and (eq .chezmoi.os "linux") (.personal) }}
if [[ ! $DISPLAY && $XDG_VTNR -eq 1 ]]; then
    exec startx
fi
{{- end }}

for function in {{ .chezmoi.homedir }}/.local/bin/*; do
    autoload -Uz ${function:t}
done

# aliases
[[ -f {{ .chezmoi.homedir }}/.aliases ]] && source {{ .chezmoi.homedir }}/.aliases
